# Temp files
Makefile~
*.c~
*.mod.c
.tmp*
*.cmd
modules.order
Module.symvers
.gitignore~
rootfs
exec_*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
